@model TrafficControlSystem.Models.LocationsViewModel
@{
    Layout = null;
}
<div class="container-fluid">
    @foreach (var item in Model.Locations)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel tree minimize panel-default location">
                    <div class="panel-heading tree-heading">
                        @Html.DisplayFor(modelItem => item.Name)
                        <a href="#" title="Delete Location" data-action-parameter="@item.LocationId" class="action link" data-action-click="delete">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                    <div class="panel-body tree-body">
                        <div class="tree minimize container-fluid">
                            <div class="tree-heading row ">
                                <div class="btn btn-default">
                                    <i class="fa fa-plus"></i>
                                    Assign Sensor
                                </div>
                            </div>
                            <div class="tree-body select-sensor-panel">
                                <select class="form-control select-sensor">
                                    @foreach (var sensor in Model.Sensors)
                                    {
                                        <option value="@sensor.SensorId">@sensor.Name</option>
                                    }
                                </select>
                                <select class="form-control select-sensor-type">
                                    <option value="true">Input</option>
                                    <option value="false">Output</option>
                                </select>
                                <div class="btn btn-default assign-sensor" data-location-id="@item.LocationId">Assign</div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="location-sensor">
                                @foreach (var ls in item.LocationSensors.OrderBy(l => l.Order))
                                {
                                    <div class="row">
                                        <div class="col-md-2 text-primary">Sensor</div>
                                        <div class="col-md-2">@ls.Sensor.Name</div>
                                        <div class="col-md-1 text-primary">As</div>
                                        <div class="col-md-2">@(ls.InputOrOutput ? "Input" : "Output")</div>
                                        <div class="col-md-1"><a href="#" title="Move Up" data-action-click="moveUp" data-location-sensor-id="@ls.LocationSensorsId"><i class="fa fa-arrow-up"></i></a></div>
                                        <div class="col-md-1"><a href="#" title="Move Down" data-action-click="moveDown" data-location-sensor-id="@ls.LocationSensorsId"><i class="fa fa-arrow-down"></i></a></div>
                                        <div class="col-md-1"><a href="#" title="Unassign" data-action-click="unassign" data-location-sensor-id="@ls.LocationSensorsId"><i class="fa fa-remove"></i></a></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
