@model IEnumerable<TCS.Model.Sensor>
@{
    Layout = null;
}


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SensorType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpatialReference)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SensorType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpatialReference)
                </td>
                <td>
                    <a href="#" class="action" data-action-click="delete" data-action-parameter="@item.SensorId">Delete</a>
                </td>
            </tr>
    }

    </table>