@model IEnumerable<TCS.Model.Sensor>
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(model => model.Name)</strong>
    </div>
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(model => model.SensorType.Name)</strong>
    </div>


</div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4 text-primary">@Html.DisplayFor(modelItem => item.Name)</div>
        <div class="col-md-4">@Html.DisplayFor(modelItem => item.SensorType.Name)</div>
        <div class="col-md-1"><a href="#" title="Zoom" class="action" data-action-click="zoom" data-action-parameter="@item.SensorId"><i class="fa fa-search"></i></a></div>
        <div class="col-md-1"><a href="#" title="Flash on Map" class="action" data-action-click="flash" data-action-parameter="@item.SensorId"><i class="fa fa-bolt"></i></a></div>
        <div class="col-md-1"><a href="#" title="Delete" class="action" data-action-click="delete" data-action-parameter="@item.SensorId"><i class="fa fa-close"></i></a></div>
    </div>
}
