@model TCS.Model.Location
@{
    Layout = null;
}
<script type="text/template" id="locationSensorTemplate">
    <div class="row">
        <div class="col-md-2 text-primary">Sensor</div>
        <div class="col-md-2">{SensorName}</div>
        <div class="col-md-1 text-primary">As</div>
        <div class="col-md-2">{InputOrOutput}</div>
        <div class="col-md-1"><a href="#" title="Zoom" class="action" data-action-click="sensor-zoom" data-action-parameter="{SensorId}"><i class="fa fa-search"></i></a></div>
        <div class="col-md-1"><a href="#" title="Flash on Map" class="action" data-action-click="sensor-flash" data-action-parameter="{SensorId}"><i class="fa fa-bolt"></i></a></div>
        <div class="col-md-1">
            <a href="#" title="Move Up" data-action-click="moveUp" data-location-sensor-id="{Id}"><i class="fa fa-arrow-up"></i></a>
        </div>
        <div class="col-md-1"><a href="#" title="Move Down" data-action-click="moveDown" data-location-sensor-id="{Id}"><i class="fa fa-arrow-down"></i></a></div>
        <div class="col-md-1">
            <a href="#" title="Unassign" data-action-click="unassign" data-location-sensor-id="{Id}"><i class="fa fa-remove"></i></a>
        </div>
    </div>
</script>
<div class="widget minimize">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="icon"><i class="fa fa-arrows-alt"></i></div><div class="title">Locations</div>
        </div>
        <div class="panel-body form locations widget-body">
            <div class="panel panel-info tree minimize">
                <div class="tree-heading panel-heading">
                    <i class="fa fa-plus"></i>
                    Add Location
                </div>
                <div class="form-horizontal tree-body panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="btn btn-default" data-action-click="submit">Save</div>
                        </div>
                    </div>
                </div>
            </div>
            <section data-url="@Url.Action("AllLocations", "Home")" class="update-section">
                @Html.Action("AllLocations", "Home")
            </section>
        </div>
    </div>

</div>
