
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/template" id="errorTemplate">
        <div>
            <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {error}
        </div>
    </script>
</head>
<body>
    <div class="wdgt-container">
        @Html.Action("Sensors")
        @Html.Action("Locations")
    </div>
                <div id="map-canvas"></div>
    <div class="loading">
        <img src="/Images/loading.gif" />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpZhVKRniPiVcE8VCZmvtbVTyyWz2m-Og">
    </script>

    <script src="~/Scripts/TCS/common.js"></script>
    <script src="~/Scripts/TCS/map.js"></script>
    <script src="~/Scripts/TCS/widget.js"></script>
    <script src="~/Scripts/TCS/form.js"></script>
    <script src="~/Scripts/TCS/tree.js"></script>
    <script src="~/Scripts/TCS/sensors.js"></script>
    <script src="~/Scripts/TCS/locations.js"></script>
</body>
</html>