
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    
    <div id="map-canvas"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpZhVKRniPiVcE8VCZmvtbVTyyWz2m-Og">
    </script>

    <script type="text/javascript">
        var map;
        
        var sensors = [];
        var sensorCounter = 1;
        function initialize() {
            var mapOptions = {
                center: { lat: 30.099408866368016, lng: 391.32052463912964 },
                zoom: 15
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            
            google.maps.event.addListener(map, 'tilesloaded', function (event) {
                map.loaded = true;
                $('body').trigger('map-loaded');
            });
        }
       
        google.maps.event.addDomListener(window, 'load', initialize);
        
    </script>
    <div class="wdgt-container">
        @Html.Action("Sensors")
        @Html.Action("Locations")
    </div>

    <script src="~/Scripts/TCS/widget.js"></script>
    <script src="~/Scripts/TCS/form.js"></script>
    <script src="~/Scripts/TCS/sensors.js"></script>
    <script src="~/Scripts/TCS/locations.js"></script>
</body>
</html>