
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    
    <div id="map-canvas"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpZhVKRniPiVcE8VCZmvtbVTyyWz2m-Og">
    </script>

    <script type="text/javascript">
        var map;
        var sensors = [];
        var sensorCounter = 1;
        function initialize() {
            var mapOptions = {
                center: { lat: 30.099408866368016, lng: 391.32052463912964 },
                zoom: 15
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

        }
       
        google.maps.event.addDomListener(window, 'load', initialize);
        
    </script>
    @Html.Action("Sensors")
    <script>
        (function () {
            $('.widget').draggable();
            $('section.update-section').on('refresh', function () {
                var $this = $(this);
                var url = $this.data('url');
                $.ajax({
                    url: url
                }).success(function (result) {
                    console.log(result);
                });
            });
        })();
    </script>
</body>
</html>