
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="widget">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Sensors
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="btn btn-default" onclick="addSensor();">
                            Add Sensor
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="senors-grid col-md-8">

                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div id="map-canvas"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpZhVKRniPiVcE8VCZmvtbVTyyWz2m-Og">
    </script>

    <script type="text/javascript">
        var map;
        var sensors = [];
        var sensorCounter = 1;
        function initialize() {
            var mapOptions = {
                center: { lat: 30.099408866368016, lng: 391.32052463912964 },
                zoom: 15
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

        }
        function removeSensor(sensorId)
        {
            sensors[sensorId].marker.setMap(null);
            $('.senors-grid .sens-' + sensorId).remove();
        }
        function addSensor() {
            var addSensorListener = google.maps.event.addListener(map, 'click', function (event) {
                google.maps.event.removeListener(addSensorListener);
                var sensorId = sensorCounter++;
                var sensor = {
                    id: sensorId
                };
                sensor.marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    title: "Sensor (" + sensorId + ")",
                    icon: "/images/More-16.png"
                });
                sensors[sensorId] = sensor;
                $('.senors-grid').append("<div class='row sens-"+ sensorId +"'><div class='col-md-4'>Sensor (" + sensorId + ")</div><div class='col-md-4'><div class='btn btn-default' onclick='removeSensor(" + sensorId + ")'>Delete</div></div></div>");
                map.setOptions({
                    draggableCursor: "url('https://maps.gstatic.com/mapfiles/openhand_8_8.cur'), default"
                });
            });
            map.setOptions({
                draggableCursor: "crosshair"
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        $('.widget').draggable();
    </script>
</body>
</html>